*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
  font-weight: normal;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.text-color-orange {
  color: #fe8a02;
}

.header {
  background: #f5f4f0;
  background-image: url('../image/bg-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.header-title {
  margin: 0 0 185px 0;
}

.header-title::after {
  content: url('../image/main-1.png');
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  flex: 0 0 100%;
}

.header-description {
  justify-content: space-between;
  color: #2a2626;
  columns: 2;
  height: 186px;
  flex: 0 0 100%;
}

.header-deskription-text {
  color: #2a2626;
  flex: 0 1 540px;
  margin-bottom: 30px;
}

.header-btn {
  flex: 0 0 auto;
  padding: 12px 24px;
  background: #fe8a02;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 51px 400px 0 auto;
}

.wotis {
  padding: 100px 0 0 0;
  text-align: center;
  margin-bottom: -100px;
}

.wotis-title {
  margin: 0 0 30px;
}

.wotis-subtitle {
  margin: 0 0 30px;
  color: #212529;
}

.wotis-video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.navigation {
  background: #42413c;
  padding: 200px 0 80px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-item {
  box-sizing: border-box;
  flex: 0 0 348px;
  background: #f5f4f0;
  padding: 24px;
  margin-bottom: 20px;
}
.navigation-item:first-child {
  background: none;
  padding: 0;
}
.navigation-title {
  font-weight: normal;
  font-size: 52px;
}
.navigation-link {
  text-decoration: none;
  color: unset;
}
.navigation-link-number {
  font-family: 'Neucha', cursive;
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1;
}
.navigation-link-title {
  font-size: 34px;
  margin-bottom: 16px;
}
.navigation-link-text {
  color: #2a2626;
}
